*{
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* login */
html{
    height: 100%;
    box-sizing: border-box;
}
body{
    background-color: #e74c3c;
    position:relative;
    min-height: 83%;
}
.login{
    margin:100px auto 15px auto;
    padding:10px;
    width:320px;
    background-color:#FFFFFF;
    border-radius:5px;
    overflow: hidden;
}
.login:hover{
    -webkit-box-shadow: 0px 0px 144px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 144px -27px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 144px -27px rgba(0,0,0,0.75);
}
.login .input{
    display: block;
    margin-bottom:5px;
    width: 100%;
}
.login h2{
    color:#525252;
    text-align: center;
    margin-bottom: 10px;
}

.to-action{
    color:#3a3a3a;
    float:left;
    margin-top: 9px;
    margin-left: 20px;
}
.btn-action{
    float:right;
    margin-right: 20px;
}

#input-nis{
    width: 75%;
    display: inline;
}
#cek-nis{
    display: inline;
}

/* aula cloud */
#ts-aula{
    width: 50%;
    height: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: -100;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
#cloud-1,#cloud-2,#cloud-3,#cloud-4{
    position: absolute;
    z-index: -100;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-name: fadeIn;
    animation-duration: 2s
}
#cloud-1{
    left: 412px;
    top: 31px;
}

#cloud-2{
    right: 367px;
    top: 66px;
}

#cloud-3{
    left: 50px;
    top: 0;
}

#cloud-4{
    right: 118px;
    top: 41px;
}

/* end aula cloud*/
/* end login */

/* modal alert */

.modal{
    display:none;
    overflow: auto;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0;
    top:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-fadeIn{
    from{
        margin-top:0px;
        opacity: 0;
    }
    to{
        margin-top:50px;
        opacity: 1;
    }
}

@-webkit-keyframes slide-fadeIn{
    from{
        margin-top:0px;
        opacity: 0;
    }
    to{
        margin-top:50px;
        opacity: 1;
    }
}

.modal-content{
    background-color: white;
    border-radius:5px;
    padding:10px;
    width:300px;
    margin:50px auto 0px auto;
    animation-name: slide-fadeIn;
    animation-duration: 0.2s;
    -webkit-animation-name: slide-fadeIn;
    -webkit-animation-duration: 0.2s;
    -webkit-box-shadow: 0px 0px 93px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 93px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 93px -9px rgba(0,0,0,0.75);
}

.modal-title{
    text-align: center
}
.modal-content p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-closemodal{
    display: block;
}

/* mobile phone */
@media screen and (max-width: 480px) {
    #ts-aula{
        width:80%;
    }

    #cloud-1{
        top: 210px;
        left: 7px;
    }
    
    #cloud-2{
        top: 222px;
        right: 36px;
    }
    
    #cloud-3,#cloud-4{
        display: none;
    }
}

