*{
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color:#fafafa;
    height: 100%;
}
.wrapper{
    min-height: 100%;
    position:relative
}

/* header */
header{
    background-color:white;
}
header img{
    max-height: 75px;
    width: auto;
}
/* end header */

/* navbar */
ul {
    padding:0px 15px 0px 15px;
}
#nav-content{
    display: block;
}
nav ul{
    
background: #e4262c; /* Old browsers */
background: -moz-linear-gradient(left, #e4262c 0%, #ff5811 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #e4262c 0%,#ff5811 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #e4262c 0%,#ff5811 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4262c', endColorstr='#ff5811',GradientType=1 ); /* IE6-9 */
    overflow: hidden;
    list-style-type: none;
}
nav ul li{
    float:left;
}

nav ul li a{
    display: block;
    padding:15px;
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    background-color:#B41F24;
}
/* navbar end */

/* main */
main{
    margin:15px;
    background-color: #ffffff;
    border-radius: 5px;
}
.kpko{
   display:flex;
}

/* ketua */
.ketua{
    flex: 1;
}
/* ketua end */

/* wakil ketua */
.wakil-ketua{  
    flex: 1;
}
/* wakil ketua end */

/* title */
.title{
    text-align: center;
    color:#141414;
}

.title h3{
    color:#161616;
}
.title-line{
    height: 3px;
    width: 70px;
    background-color: #ee585d;
    margin:5px auto 15px auto;
}
/* end title */
/* calon */
.calons{
    text-align: center;
}
.calon{
    display: inline-block;
    margin:5px 5px 5px 5px;
    width:170px;
    padding:10px;
    border-radius:8px;
    background-color: white;    
}

.calon:hover{
    -webkit-box-shadow: 0px 0px 154px -27px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 154px -27px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 154px -27px rgba(0,0,0,0.54);
}
 .calon-no{
    width: 30px;
    padding: 6px 0px 6px 0px;
    border-radius: 23px;
    text-align: center;
    color: white;
    margin-bottom: 0px auto;
    padding-top: -6px;
    margin: 0px auto 10px auto;
    background-color: #616162;
 }

.calon-img{
    /* background-color: black; */
    max-width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:5px;
}

.calon-name{
    margin: 5px 0px 5px 0px;
    color:#252525
}

.button-profile{
    margin-bottom:10px;
}

.input-radio{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    background:#DADADA;
    border-radius:50%;
    width: 30px;
    height: 30px;
    display: block;
    margin: 5px auto auto auto;
    cursor:pointer;
}

.input-radio:hover{
    background:#BBBBBB;    
}

.input-radio:checked{
    background:#f34b51;
}

.button-send{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

/* end calon */
/* end main */

/* footer */
footer{
    background:#242424;
    position: absolute;
	width:100%;
    color:white;
    padding:10px;
    text-align:center;
    left: 0;
    bottom:0;
}
/* end footer */

/* modal */
.modal{
    display:none;
    overflow: auto;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0;
    top:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-fadeIn{
    from{
        margin-top:0px;
        opacity: 0;
    }
    to{
        margin-top:50px;
        opacity: 1;
    }
}

@-webkit-keyframes slide-fadeIn{
    from{
        margin-top:0px;
        opacity: 0;
    }
    to{
        margin-top:50px;
        opacity: 1;
    }
}

.modal-content{
    background-color: white;
    border-radius:5px;
    padding:10px;
    width:50%;
    margin:50px auto 0px auto;
    animation-name: slide-fadeIn;
    animation-duration: 0.2s;
    -webkit-animation-name: slide-fadeIn;
    -webkit-animation-duration: 0.2s;
    -webkit-box-shadow: 0px 0px 93px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 93px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 93px -9px rgba(0,0,0,0.75);
}

.modal-title{
    /* float:left; */
    text-align: center;
}

#button-close{
    color: #2c2c2c;
    float:right;
    font-size: 25px;
}

.modal-table{
    clear:left;
    clear:right;
}

.modal-table tr,.modal-table td{
    padding:5px;
}
.modal-table tr{
    vertical-align: top;
}

.confirm-title{
    text-align: center;
}

#modal-alert .modal-content{
    width:300px;
}

#alert-content{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* end modal */

/* sukses */
.terimakasih{
    margin:15px auto 15px auto;
    padding:10px;
    width:50%;;
    background-color:rgb(255, 255, 255);
    border-radius:5px;
    

}
/* end sukses */



/* mobile phone */


/* pre h */

#pre{
    margin:15px auto 15px auto;
    padding:10px;
    width:50%;;
    background-color:rgb(255, 255, 255);
    border-radius:5px;
    color:#353535;
}

#pre h2{
    text-align: center;
    color:#1f1f1f;
    margin-bottom: 20px;
}
#pre table tr td{
    padding: 5px;
}
#pre table{
    margin-top: 10px;
    margin-bottom: 10px;
    border:2px solid rgb(206, 206, 206);
    border-radius: 5px;
}
#pre p{
    margin-top:10px;
    margin-bottom:10px;
}


@media screen and (max-width: 480px) {
    #nav-content{
        display: none;
    }
    #nav-menu{
        width: 100%;
        padding:12px;
        background: #e4262c; /* Old browsers */
        background: -moz-linear-gradient(left, #e4262c 0%, #ff5811 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #e4262c 0%,#ff5811 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #e4262c 0%,#ff5811 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4262c', endColorstr='#ff5811',GradientType=1 ); /* IE6-9 */
        cursor:pointer;
    }
    #nav-menu div{
        margin-left: 5px;
        height: 4px;
        width: 29px;
        background-color: white;
        margin: 3px 0 3px 0;
        border-radius: 50px;
        
    }
    nav ul{
        padding:0px;
    }
    nav ul li{
        width: 100%;
        text-align: left;
    }
    .modal-content{
        width: 100%;
    }
    .calon{
        width: 93%;
    }
    .calon-name{
        font-size: 13px;
    }
    .title h3{
        font-size: 16px;
    }
    .terimakasih,#pre{
        width: 90%;
    }
}